.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--secondary-bg-color);
}

.footer-titles {
  color: var(--primary-bg-color);

  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: start;
  }
}

.address-web-list-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    justify-content: center;
  }
}

.footer__container {
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }
}
