:root {
  --subscribe-mail-placeholder-color: rgba(255, 255, 255, 0.6);
  --subscribe-mail-border-color: rgba(255, 255, 255, 0.3);
  --overlay-color-for-work-examples: rgba(47, 48, 58, 0.8);
  --gradient-color-for-banner: rgba(47, 48, 58, 0.4);
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-black-color: #000000;
  --primary-bg-color: #ffffff;
  --transparent-white: rgba(255, 255, 255, 0.6);
  --background-color: #f5f4fa;
  --secondary-bg-color: #2f303a;
  --hover-color-for-banner-button: #188ce8;
  --header-border-line: #ececec;
  --card-border-line: #eeeeee;
  --icon-fill: #afb1b8;
}
